@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
}
html{
    font-size: 62.5%;
}
h2{
    color: hsl(0, 0%, 100%);
    font-size: 4rem;
    padding: 1rem 0;
}
h5{
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
}
h3,h4{
    color: hsl(208, 49%, 24%);
    font-size: 1.7rem;
    padding: 1rem 0;
    font-weight: 700;
}
h3{
    font-size: 2.5rem;
    text-align: center;
}
p{
    color: hsl(207, 13%, 34%);
    font-size: 1.4rem;
}


button{
    background-color: whitesmoke;
    color: hsl(356, 100%, 66%);
    padding: 5px;
    margin: 0.5rem;
    border-radius: 15px;
    border: none;
}
.btn{
    color: whitesmoke;
    background-color: transparent;
    border: 1px solid rgb(192, 189, 189);
}
.sign{
    border-radius: 15px;
    padding: 5px 8px;
    margin-left: 1.2rem;
}
.mainBg{
    background-size: 100% 150%;
    height: 45%;
    background: linear-gradient(to right, hsl(355, 100%, 74%), hsl(356, 100%, 66%));
    padding: 4rem 6rem;
    border: 1px solid hsl (355, 100%, 74%);
    border-bottom-left-radius: 70px;
}

/* header */

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    color: hsl(0, 0%, 100%);
}
nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
ul{
    display: flex;
    width: 60%;
    list-style: none;
}
li{
    width: fit-content;
}
select{
    background-color: transparent;
    border: none;
    width: fit-content;
    font-size: 1.7rem;
}
option{
    background-color: hsl(355, 100%, 74%);
}
.login{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.6rem;
}

.logo{
    width: 15%;
    font-size: 2.3rem;    
}

/* main */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
    background-image: url('../images/bg-pattern-intro-desktop.svg');
    background-size: 100% 100%;
}

/*main section*/

.mainSection{
    padding-top: 8rem;
    min-height: 55%;
    padding-left: 6rem;
    position: relative;
}
.mainContainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 80%;
    position: relative;
}
.mainContainer img{
    min-width: 45vw;
    position: absolute;
    top: -70px;
    right: -15.5rem;
    height: 52vh;
}
.content{
    max-width: 50%;
    min-height: 40%;
    margin-top: 2rem;
}
.content h4{
    padding-bottom: 1.5rem;
}
.contentOne{
    padding-bottom: 2rem;
}
.content p{
    font-size: 1.3rem;
    line-height: 1.8rem;
}

/* second section */

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    background-color: hsl(237, 23%, 32%);
    margin-top: 10rem;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 70px;
    min-height: 15vh;
    max-height: 30vh;
    position: relative;
}
.imgCon{
    max-height: 40vh;
    min-width: 50%;
}
.subContent{
    width: 40%;
    text-align: left;
    margin-right: 3rem;
}
.subContent h3{
    text-align: left;
    color: hsl(0, 0%, 100%)
}
.subContent p{
    color: hsl(0, 0%, 100%);
    line-height: 2rem;
}

/* last section  */

.lastSection{
    min-height: 50%;
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
    padding-right:7rem;
}
.laptopImage img{
    min-width: 45vw;
    position: absolute;
    left: -172px;
    bottom: -92%;
    min-height: 22vh;
    max-height: 45vh;
}
.lastContent{
    max-width: 46%;
    padding-top: 4rem;
    min-height: 40%;
}
.lastContent p{
    line-height: 1.8rem;
    font-size: 1.3rem;
}
.lastContentTwo{
    padding-top: 3rem;
}

footer{
    background-color: hsl(240, 10%, 16%);
    height: 25vh;
    color: whitesmoke;
    border-top-right-radius: 70px;
}
footer .logo{
    color: whitesmoke;
    height: fit-content;
    margin-left: -6%;
}
.footerContainer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 4rem;
}
.footerOne{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}
span{
    padding-top: 0.7rem;
}
.menu{
    display: none;
}


/* media queries */

/* mobile screen */
@media all and (max-width:760px){
    h3{
        font-size: 2rem;
    }
    h2{
        font-size: 2.2rem;
        text-align: center;
    }
    nav{
        display: none;
    }
    header{
        padding: 0 2rem;
    }
    .menu{
        display: block;
        width: 10%;
    }
    .mainBg{
        padding: 3rem;
    }
    .mainSection{
        padding: 3rem;
    }
    .mainContainer{
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }
    .content{
        min-width: 100%;
        text-align: center;
        margin-top: -4rem;
    }
    .mainSection h4, .lastContent h4{
        font-size: 1.6rem;
    }
    .mainSection p, .lastContent p{
        font-size: 1.5rem
    }
    .mainSection img{
        position: relative;
        right: 0;
        height: 34vh;
        margin-top: 7rem;
        width: 100%;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 52%;
        padding: 0;
        margin-top: 12rem;
        position: relative;
    }
    .imgCon{
        margin-top: -18rem;
    }
    .subContent{
        min-width: 80%;
        margin-top: 2.5rem;
        text-align: center;
    }
    .subContent h3{
        text-align: center;
        font-size: 2.2rem;
    }
    .lastSection{
        display: flex;
        flex-direction: column;
        padding: 0 3rem;
    }
    .lastSection img{
        position: relative;
        left: 0;
        top: 0;
        height: 34vh;
        width: 100%;
    }        
    .lastContent{
        min-width: 100%;
        text-align: center;
    }
    footer{
        min-height: 65vh;
        padding: 2rem;
        margin-top: 4rem;
    }
    .footerContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    footer h5{
        font-size: 1.4rem;
    }
    span{
        font-size: 1.2rem;
    }
}


/* @media (min-width:761px) and (max-width:759px){
    .mainBg {
            padding: 3rem 1.5rem;
        }
    header{
        min-width: 90%;
    }
    nav{
        min-width: 98vw;
    }
    .mainSection {
        padding-left: 1.5rem;
    }
    .container {
        padding: 1.5rem;
    }
    .lastSection {
        padding-right: 1.5rem;
    }
    h3{
        font-size: 2.5rem;
        text-align: center;
    }
    h2{
        font-size: 3rem;
    }
    .lastContent{
        padding: 0;
    }
    .mainContainer img{
        max-width: 55%;
        right: -10rem;
    }
    .content{
        min-width: 55%;
    }
    .lastContent{
        min-width: 50%;
    }
    .lastSection img{
        max-width: 75%;
        bottom:-100% ;
    }
}
 */


/* tab and desktop screen */
@media (min-width:1080px) {
    .mainBg{
        padding: 3rem 12rem;
    } 
    .mainSection{
        padding-left: 12rem;
    }
    .container{
        padding: 0 12rem;
    }
    .lastSection{
        padding-right: 12rem;
    }
    body{
        border: 2px solid blue;
    }
} 

@media (min-width:1440px){
    .mainContainer img{
        right: -22rem;
    }
    .mainBg {
        padding: 3rem 22rem;
    }
    .mainSection {
        padding-left: 22rem;
    }
    .content{
        max-width: 40%;
    }
    .container {
        padding: 0 22rem;
    }
    .lastSection {
        padding-right: 22rem;
    }
    .laptopImage img{
        left: -250px;
        bottom: -95%;
    }
    .lastContent{
        max-width: 40%;
        max-height: 45vh ;
    }
    .lastContent p{
        font-size: 1.6rem;
    }
    footer{
        margin-top: 3rem;
    }
}
